.form-login, .form-login__inputs {
    display: flex;
    flex-direction: column;
}

.form-login {
    gap: 32px;
}

.form-login__inputs {
    gap: 16px;
}

.form-login__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}