<button type="@Type" class="@GetCssClass()" style="@HandlerSize()" disabled="@Disabled" @onclick="HandleClick">
    @Text
    @if (Variant == ButtonVariant.Tertiary)
    {
        <AddIcon Icon="Icon.CARET_RIGHT"/>
    }
</button>
